# terraform sensitive files
terraform/terraform.tfvars
*.tfstate
*.tfstate.backup
terraform/.terraform/
terraform/.terraform.lock.hcl
# ignore GCP credentials
terraform/credentials/*.json

# ignore data files
raw_data/
data/

# ignore Python temporary files
__pycache__/
*.pyc

# Jupyter output
.ipynb_checkpoints/

# Environment files
.env

# Mac will automatically generate this file but we don't want to upload it
.DS_Store
